// extend.scss
@use "main";

.actions {
  margin: 20px 0;
}

%button-base {
  background-color: #222;
  color: #FFF;
  border-radius: 6px;
  font-size: 1rem;
  padding: 10px;
  margin: 0 1em;
  border: 0;
  text-transform: uppercase;
  cursor: pointer;
}

.bouton, .btnClose, .btnValidate, .btnSave {
  @extend %button-base;
}

.btnSave {
  background-color: #00C;
}

.btnValidate {
  background-color: #0C0;
}

.btnClose {
  background-color: #C00;
}
