// nav.scss
nav {
    background-color: #333;
  
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      justify-content: space-around;
    }
  
    a {
      display: block;
      text-decoration: none;
      color: white;
      text-transform: uppercase;
      padding: 10px;
      transition: color 2s ease;
  
      &:hover {
        color: rgba(255, 20, 147, 0.6);
      }
  
      &.active {
        color: deeppink;
      }
    }
  }
  